.loginForm {
    text-align: center;
    margin-top: 70px;
    font: bold 15px arial, sans-serif;
     margin: auto;
    margin-top: 70px;
}

.registerForm {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    width: 180px;
    margin: auto;
    margin-top: 70px;
}

 .divForm {
    border-style: solid; 
    border-width: 0.2px;
    height: 100px;
    width: 1250px;
    background: deepskyblue;
    text-align: center;
    color : crimson;
    font: bold 15px arial, sans-serif; 
    display: table-cell;
}

.menuDiv {
    display: table;
    table-layout: fixed;
    border-spacing: 10px;
    width: 100%;
}

.DivTform{
      display: table-cell;  
}

 .menuItem {
    border-style: solid;
    border-width: 0.2px;
    height: 40px;
    width: 150px;
    background: deepskyblue;
    text-align: center;
    color : crimson;   
    display: table-cell;
 }
 
   .linkForm {
    color: crimson;
    text-decoration: none;
    font: bold 80px arial, sans-serif;    
    width: 500px;
  
    }
    
    .categForm {
      color: crimson;
      text-decoration: none; 
      font: bold 20px arial, sans-serif;
    }
      
    .eventForm {
       text-align: center;
       border-style: solid;
       border-width: 1px;
       padding: 10px;
       width: 400px;
       margin: auto;
       font-size: 26px; 
        }
        
    .hForm {
        text-align: center;   
            
        }
        
    .buttonForm {
       margin: 10px;
       display: table-cell;
       }
            
            
     .wrapper {
         text-align: center;
         margin-top: 20px;
       }

       .userForm {
             text-align: center;
             border-style: solid;
             border-width: 1px;
             padding: 10px;
             width: 300px;
             margin: auto;
             margin-top: 70px;  
                    }   
                    
       .eventDForm {
             border-style: solid;
             border-width: 1px;
             width: 240px;    
             text-align: center;      
             color: black;
                   }
      
     .DivLinkForm {
         text-decoration: none;
         padding: 4px;
         margin-bottom: 10px;
         margin-left: 10px;
         display: table-cell;    
         table-layout: fixed;
                    }
     
      .btnform {
           text-align: center;
           text-decoration: none;
      }               
      
      .FormDivLinkForm {
           margin-left: 10px;              
           display: table-cell;    
           table-layout: fixed;
           margin-bottom: 10px;      
           border-spacing: 10px;
                    }
                    
      .divBForm {
            background-color: deepskyblue;
            color: crimson;
            border-style: solid;
            border-width: 0.2px; 
            height: 40px;
            width: 150px;
            margin: 10px;
                    }
                    
      .div2Form {
           border-style: solid; 
           border-width: 0.2px;
           height: 100px;
           width: 100%;
           background: deepskyblue;
           text-align: center;
           color : crimson;
           font: bold 15px arial, sans-serif; 
           display: table-cell;               
                        
                        
                        
                    }